<html lang="en">
<head>
  <title> Login </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  
  <style>
  body{
    direction:rtl;
  }
  pre{
    margin: 0px 0px 40px;
  }
  </style>
  
  <link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet"> 
   <script src="js/jquery.js"></script>
   <script src="js/bootstrap.min.js"></script>
</head>
<body >
<pre>
<br />
<br />
<br />
</pre>
<br />
<div class="container">
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
  <div class="jumbotron">
  <div class="form-group">
  <label for="usr"> رقم الهاتف:</label>
  <input type="text" class="form-control" id="usr">
  
<div class="form-group">
  <label for="pwd"> كلمة السر:</label>
  <input type="password" class="form-control" id="pwd" placeholder=" أدخل كلمةالسر">
 <br /> 
<div class="form-group">
<div>

  <div class="w-100">
  <button type="button" class="btn btn-primary active ">تسجيل دخول</button>
  </div>
  
  
   <a class="navbar-brand" href="">هل نسيت كلمة السر؟؟</a>
   

            
    <div class="checkbox">
            <label>
            <input name="remember" type="checkbox" value=" Remember Me ">....Remember Me <br>
       </label>
</div>
      </div>  
 </div>                        
 </div>
</div>
</div>
</div> 
</div>
</div>
</body>
</html> 